main{
  display:grid;
  grid-template-areas:"TXT FORM"
    "IMG FORM";
  grid-template-rows: 50% 50%;
  grid-template-columns: 40% 60%;
    
}
#choixMobilité{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap:3px;
}
#infos{
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
#infos-1{
  display:flex;
  justify-content:space-evenly;
}
#infos-2{
  display:flex;
  justify-content:space-around;
  grid-row-start:3;
  
}
#infos-3{
  grid-row-start: 5;
  display:flex;
  justify-content:center;
  
}
img[alt="logo_locat"]{
  grid-area: IMG;
  margin-left:30%;
}
p{
  line-height: 30px;
  text-align: center;
  grid-area:TXT;
  background-color:lightgrey;
  border-radius:20px;
  width:90%;
  padding-left:5%;
  
}
main>fieldset{
  grid-area:FORM;
}
fieldset{
  display:grid;
  grid-template-columns:1fr 1fr 25px;
  grid-template-rows:1fr 1fr;
  border-width:3px;
  border-radius:10px;
  border-color: darkgrey;
}
fieldset>fieldset{
  border-color:lightgrey;;
  border-style:solid;
}
input:not([type="radio"],[type="submit"],[type="reset"]){
  border-radius: 5px;
  border-style:solid;
  border-color:black;
}
input:not([type="radio"],[type="submit"],[type="reset"]):focus{
  color:blue;
  border-color:blue;
  outline-color:blue;
  outline-style: solid;
  
}
input[type="submit"]{
  border-radius: 100px 100px 100px 100px / 75px 75px 75px 75px;
  background-color:blue;
  color:white;
  border-style:solid;
}
input[type="submit"]:hover{
  border-radius: 80px 80px 80px 80px / 75px 75px 75px 75px;
  background-color:darkblue;
  color:white;
}
input[type="reset"]{
  border-style: none;
  background-color: white;
  color:blue;
}
input[type="reset"]:hover{
  background-color:lightblue;
  border-radius: 80px 80px 80px 80px / 75px 75px 75px 75px;
}
fieldset>fieldset:has(input[type="radio"]:checked) {
  border-color: blue;
  background-color:lightblue;
}
img{
  border-radius:25%;
}
fieldset>p{
  grid:2/1/3/4;
}